{{#partial "title"}}Wildlife Tracker{{/partial}}
{{#partial "content"}}

<div class="title-pg">
    <div class="title">
        <h1 class="glows">Welcome To Wildlife Tracker<br><br>This App Allows You To Report Both Endangered And Non-Endangered Animal Species<br><br>You Will Be Required To Add An Animal If It Doesn't Exist In The list<br><br>Feel Free To Navigate Through The App To Get Used To It</h1>
    </div>
</div>

{{/partial}}
{{> base.hbs}}